/* ===============================
    BUTTONS
   =============================== */

.btn {
  font-family: "Bebas Neue", sans-serif;
  color: @colorNavy;
  overflow: hidden;
  position: relative;
  border: 1px solid @colorNavy;
  border-radius: 0px;
  font-size: 24px;
  line-height: 30px;
  padding: 8px 18px;
  z-index: 1;
  .transition(.3s ease-in-out all);

  i {
    color: @colorOrange;
    margin-left: 8px;
    top: 1px;
    position: relative;
  }
}

.btn:not(.btn-link) {

  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: -500px;
    left: -130%;
    width: 110%;
    height: 1000px;
    background-color: @colorNavy;
    .rotate(40deg);
    .transition(.3s ease-in-out left);
  }

  &:hover {
    color: #fff;
    border-color: #fff;

    &:before {
      background-color: @colorNavy;
      left: 0;
    }
  }
}

.bttnBig {
  font-size: 26px;
  padding: 14px 30px;
  font-weight: 700;
}

.bttnRed {
  background: #e74c3c;

  &:hover {
    background: #c0392b;
  }
}

.bttnGreen {
  background: #67917A;

  &:hover {
    background: #5B806C;
  }
}

.bttnBlue {
  background: #34495E;

  &:hover {
    background: #253647;
  }
}

.bttnWhite {
  background: #fff;
  color: #555453;

  &:hover {
    background: #eeeeee;
    color: #555453;
  }
}

.bttnOrange {
  background: #E67E22;

  &:hover {
    background: #D16F18;
  }
}

.bttnGrey {
  background: #7f8c8d;

  &:hover {
    background: #667172;
  }
}

.btn-block {
  i {
    margin-right: 10px;
    width: 20px;
    display: inline-block;
    text-align: center;
  }
}

.transition(@transition) {
  -webkit-transition: @transition;
        -o-transition: @transition;
            transition: @transition;
}

.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees); // IE9 only
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
